{% extends "base.html" %}

{% block content %}
<div class="mb-4">
    <a href="{{ url_for('ciphers.list_ciphers') }}" class="btn btn-outline-secondary btn-sm">
        ← Back to ciphers
    </a>
</div>

{% include "ciphers/workbench/_header.html" %}

<div class="row g-4">
    <div class="col-lg-8">
        {% include "ciphers/workbench/_ciphertext.html" %}
        {% include "ciphers/workbench/_substitution_solver.html" %}
        {% include "ciphers/workbench/_substitution_assistant.html" %}
        {% include "ciphers/workbench/_caesar.html" %}
    </div>

    <div class="col-lg-4">
        {% include "ciphers/workbench/_basic_analysis.html" %}
        {% include "ciphers/workbench/_language_hints.html" %}
        {% include "ciphers/workbench/_repeated_sequences.html" %}
        {% include "ciphers/workbench/_word_patterns.html" %}
        {% include "ciphers/workbench/_digram_similarity.html" %}
        {% include "ciphers/workbench/_frequency_analysis.html" %}
        {% include "ciphers/workbench/_substitution_key_tool.html" %}
    </div>
</div>

{% include "ciphers/workbench/_scripts.html" %}
{% endblock %}