{% extends "base.html" %}

{% block content %}
<div class="mb-4">
    <a href="{{ url_for('ciphers.list_ciphers') }}" class="btn btn-outline-secondary btn-sm">
        ← Back to ciphers
    </a>
</div>

{% include "ciphers/workbench/_workbench_header.html" %}

<div class="row g-4">
    <div class="col-lg-3">
        {% include "ciphers/workbench/_workbench_sidebar.html" %}
    </div>

    <div class="col-lg-9">
        {% include "ciphers/workbench/_workbench_tabs.html" %}
    </div>
</div>

{% include "ciphers/workbench/_scripts.html" %}
{% endblock %}